body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  input[type="number"] {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button-red {
    background-color: #dc3545;
  }
  
  .button-green {
    background-color: #28a745;
  }
  
  #resultMessage {
    margin-top: 10px;
    font-size: 18px;
  }